* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	text-align: center;
	position: relative;
}
#hero{
	background: url(../images/office.jpg) no-repeat center center scroll;
	background-size: cover;
	font-size:2em;
	padding: 5em 0 0;
	height: 90vh;
}
#hero div {
    position: absolute;
    right: 1em;
    width: 18em;
    transform: skewY(-5deg);
}

.projects{
 	width:35em;
 	margin:2em auto;
}

/*section image {
	width: 100%;
}*/

h2 {
	font-weight: normal;
}
a {
	text-decoration: none;
}

footer {
	text-align: center;
}
