@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Trirong);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Lato", Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	position: relative;
}
/*header{
	text-align: left;
	padding: 10px 0 10px 20px;
	background-color: #D0DAFF;
}*/

nav{
/*	font-size: 1em;*/
	float: right;
/*	text-align: center;
	background-color: #D0DAFF;*/
}
nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: darkblue;
	background-color: #fff;
/*	font-size: 1.5em;*/
	display: inline-block;
	margin-top: 1em;
	padding: 5px 60px 5px 70px;
	/*	color: #000000*/
/*	font-family: "Trirong", Georgia, serif;
	text-transform: uppercase;
	padding: 5px 40px;
	text-decoration: none;
	color: #000000;
	display: inline-block;*/
}
nav a:hover {
	background-color: #ccc;
}

/*nav a:visited {
	color: purple;
}*/

#hero {
	background: url(../images/custom_kitchen_cabinetsSW.jpg) no-repeat scroll;
	background-size: cover;
	font-size: 1em;
	padding: 1em 2em 0;
	height: 94vh;
}
#hero div {
/*    position: absolute;*/
    padding-top: 1em;
    width: 68em;
    text-align: left;
/*    transform: skewY(-5deg);*/
}

#hero div p {
	background-color: #fff;
	font-size: .5em;
	text-align: left;
	padding: 1em;
	line-height: 1.5em;
}

h1{
	font-size: 1.25em;
	line-height: 1.5em;
	font-weight: normal;
	width: 35em;
	padding: 1.2em 0 3em 0;	
}
h2 {
	font-weight: normal;
	padding: .5em;
	background-color: #fff;
}

h3 {
	padding: 10px;
	font-size: 1.5em;
/*	background-color: #D0DAFF;*/
}

a {
	color: darkblue;
}

/*.wrapper{
	background-color: purple;
}
*/
.projects {
	width: 33%;
	float: left;
	margin: auto;
	height: 70h;
}

.projects img {
	max-width: 100%;
	display: block;
	margin: auto;
	overflow: hidden;
}

.projects p {
	width: 80%;
	padding: 1em;
	text-align: justify-all;
	margin: auto;
	line-height: 1.5em;	
}

footer {
	clear: both;
	text-align: center;
	background-color: #D0DAFF;
}
footer p {
	padding: 5px;
}

/*span {
  padding: .25em;
  background: #D0DAFF;
  background: rgba(100,150,150,.5);
}
*/
/*section image {
	width: 100%;
}

hr {
	border: none:
	height: 3px;
	background-color: black;
	margin: 1em auto;
}

