@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Trirong);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Lato", Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	position: relative;
}

nav {
/*	font-size: 1em;*/
	float: right;
/*	text-align: center;
	background-color: #D0DAFF;*/
}

nav a {
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(2,2,33,.5);
	background-color: #fff;
	display: inline-block;
	margin-top: 1em;
	padding: 5px 60px 5px 70px;
}
nav a:hover {
	background-color: #ccc;
}

/*nav a:visited {
	color: purple;
}*/

#hero {
/*	background: url(../images/custom_kitchen_cabinetsSW.jpg) no-repeat scroll;*/
	background: url(../images/bench_003.jpg) no-repeat scroll;
	background-size: cover;
	font-size: 1em;
	padding: 1em 2em 0;
	height: 83vh;
}

#hero div {
/*    position: absolute;*/
    padding: 2em 1em 2em 1em;
    width: 100%;
    text-align: left;
}

#hero div p {
	background-color: #fff;
	font-size: .5em;
	text-align: left;
	padding: 1em;
	line-height: 1.5em;
}

h1{
	font-size: 1.5em;
	font-family: "Trirong", serif;
	line-height: 1.5em;
	color: rgb(31,10,2);
/*	font-weight: normal;*/
	width: 35em;
	padding: 1.2em .5em 3em 0;	
}
h2 {
	font-weight: normal;
	color: #ccc;
	background: rgb(31,10,2);
/*	background: rgb(2,2,33);*/
	padding: 10px;
}

h3 {
	padding: 1px;
	font-size: 1.5em;
	color: rgb(2,2,33);
}

a {
	color: #fff;
}

hr {
	clear: both;
	margin: 1em auto;
	width: 33.33%;
	color: rgb(2,2,33);
}

.wrapper clearfix {
	background-color: purple;
}

.projects {
	width: 33.33%;
	float: left;
	margin: auto;
	background-color: rgb(2,2,33);
}

.projects img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.projects p {
	padding: 4em 2em 4.4em 2em;
	text-align: left;
	font-size: 1.5em;
	margin: auto;
	color: #ccc;
	line-height: 1.5em;	
 	background: rgb(2,2,33);
/*	height: 21.45vw;*/
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear:both;
}
#buildouts {
	background: url(../images/attic_music_room.jpg) no-repeat center center scroll;
	background-size: cover;
	font-size: 1em;
	padding: 1em 2em 0;
	height: 88vh;
}
#buildouts div {
    padding: 2em 1em 2em 1em;
    width: 33.33%;
    text-align: left;
}

#buildouts div p {
	font-size: 1.5em;
	text-align: left;
	padding: 1em;
	line-height: 1.5em;
}

footer {
	clear: both;
	text-align: center;
	background-color: rgb(31,10,2);
}

footer p {
	padding: 5px;
	color: #ccc;
}

/*section image {
	width: 100%;
}

/*hr {
	border: none:
	height: 3px;
	background-color: black;
	margin: 1em auto;
}*/

